name: test

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0

      - name: Set up Go
        uses: actions/setup-go@v5.5.0
        with:
          go-version: 1.24.5

      - name: Test
        run: go test -race -v ./...
