name: test

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0

      - name: Set up Go
        uses: actions/setup-go@v5.5.0
        with:
          go-version: 1.25.3
      - name: Download dependencies
        run: go mod download
      - name: Vendor modules
        run: go mod vendor
      - name: Test
        run: go test -race -v ./...
